html{
    heigt:100%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
#header{
    width: 100%;
    position: fixed;
    z-index: 100;
}
.page-header{
    margin-top: 0px;
    margin-bottom: 0px;
    height:40px;
}
.navbar{
    width:100%;
}
#main-body{
    margin-top: 60px;
}
.footer{
    background-color: #8c8c8c;
    position: absolute;
    bottom:0;
    width:100%;
    height: 40px;
    padding:12px;
}