<!DOCTYPE html>
<html lang="cat">
<head>
    {% block head %}
        <title>PWGRAM 08</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('/bootstrap.css', 'css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ asset('/styles.css', 'css') }}" rel="stylesheet" type="text/css" media="all">
    {% endblock %}
</head>
<body>
<div id="header" class="page-header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PWGRAM 08</a>
            </div>
{% block navigation %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
                    <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
                </ul>
{% endblock %}
        </div>
    </nav>
</div>
<div id="content" class="container">
    {% block content %}{% endblock %}
</div>
<div id="footer" class="footer">
    {% block footer %}
        Copyright 2017 &copy - GRUP08: Carlos Rocha/Marçal Mònico/Alex Valdearcos
    {% endblock %}
</div>
{% block scripts %}
    <script src="{{ asset('/app.js', 'js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('/bootstrap.js', 'js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
</body>
</html>