{% extends "base.twig" %}

{% block title %}PWGRAM 08 - Edició d'imatge{% endblock %}


{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista d'imatges</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="main-body">

        <h1>Els teus comentaris</h1>
        <div>
            {% if comments is empty %}
                <h2>Encara no has comentat</h2>
            {% else %}
                <ul>
                    {% for comment in comments %}
                        <li>
                            <p>"{{ comment.content }}" a <a href="/image/{{ comment.image_id }}">{{ comment.image_title }}</a> - <a href="/user/comments/delete/{{ comment.id }}"><span class="glyphicon glyphicon-erase"></span>Elimina</a></p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </div>
{% endblock %}