{% extends "base.twig" %}

{% block title %}PWGRAM 08 - Edició d'imatge{% endblock %}


{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="main-body">

        <h1>Edita la imatge</h1>
        <img src="{{ asset( img_path, 'images') }}" width="400" height="300">
        <form enctype="multipart/form-data" method="POST">
            <ul>
                <li>{{ old_title }}</li>
                <li>
                    <label>Nou títol</label>
                    <input type="text" name="title" value = "{{ title }}">

                </li>
                <li>
                    <label>Imatge privada</label>
                    <input type="checkbox" name="private" value="{{ private }}">
                </li>

                <li>
                    <input type="submit" name="submit" value="Afegir">
                </li>
            </ul>
        </form>
        <div>{{ message | raw}}</div>

    </div>
{% endblock %}