{% extends "base.twig" %}

{% block title %}PWGRAM 08{% endblock %}
{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}

    <div id="main-body">

        <h1>PWGRAM 08</h1>

        <h2>Imatges més populars</h2>
        <div>
            {% if popularImages is empty%}
                <h3>No hi ha imatges disponibles</h3>
            {% else %}
                <ul>
                    {% for image in popularImages %}
                        <li>
                            <p>
                            <h2><a href="/image/{{ image.id }}">{{ image.title }}</a></h2>
                            <img src="{{ asset( image.img_path, 'images') }}" width="400" height="300">
                            <h4><a href="/user/profile/public/{{ image.username }}">{{ image.username }}</a></h4>
                            {% if online_nav == true and image.already_liked == false %}
                                <p>Visites: {{ image.visits }} - Likes: {{ image.likes }} - <a href="/{{ image.id }}/like">Like</a></p>
                            {% else %}
                                <p>Visites: {{ image.visits }} - Likes: {{ image.likes }}</p>
                            {% endif %}
                            <h4>Comentaris</h4>
                            {% if image.comments is empty %}
                                <h5>No hi ha comentaris en aquest post</h5>
                            {% else %}
                                <ul>
                                    {% for item in image.comments %}
                                        <li><a href="/user/profile/public/{{ item.commenter }}">{{ item.commenter }}</a>: {{ item.content }}</li>
                                    {% endfor %}
                                </ul>

                            {% endif %}
                            {% if online_nav == true and image.already_commented == false %}

                                <form id="comment_form" METHOD="post">
                                    <input type="text" name="new_comment" value="">
                                    <input type="hidden" name="post_id" value="{{ image.id }}">
                                    <input type="submit" name="submit" value="Comenta">
                                </form>

                            {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>

        <h2>Últimes imatges</h2>
        <div>
            {% if recentImages is empty%}
                <h3>No hi ha imatges disponibles</h3>
            {% else %}
                <ul>

                    {% for image in recentImages %}
                        <li>
                            <p>
                            <h2><a href="/image/{{ image.id }}">{{ image.title }}</a></h2>
                            <img src="{{ asset( image.img_path, 'images') }}" width="400" height="300">
                            <h4><a href="/user/profile/public/{{ image.username }}">{{ image.username }}</a></h4>
                            {% if online_nav == true and image.already_liked == false %}
                                <p>Visites: {{ image.visits }} - Likes: {{ image.likes }} - <a href="/{{ image.id }}/like">Like</a></p>
                            {% else %}
                                <p>Visites: {{ image.visits }} - Likes: {{ image.likes }}</p>
                            {% endif %}
                            <h4>Comentaris</h4>
                            {% if image.comments is empty %}
                                <h5>No hi ha comentaris en aquest post</h5>
                            {% else %}
                                <ul>
                                    {% for item in image.comments %}
                                        <li><a href="/user/profile/public/{{ item.commenter }}">{{ item.commenter }}</a>: {{ item.content }}</li>
                                    {% endfor %}
                                </ul>

                            {% endif %}
                            {% if online_nav == true and image.already_commented == false %}
                                <form id="comment_form" METHOD="post">
                                    <input type="text" name="new_comment" value="">
                                    <input type="hidden" name="post_id" value="{{ image.id }}">
                                    <input type="submit" name="submit" value="Comenta">
                                </form>

                            {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>

    </div>

{% endblock %}