{% extends "base.twig" %}

{% block title %}PWGRAM 08 - {{ title }} - {{ username }}{% endblock %}


{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="main-body">

        <h1>{{ title }} - <a href="/user/profile/public/{{ poster }}">{{ poster }}</a></h1>
        <img src="{{ asset( img_path, 'images') }}" width="400" height="300">
        <p>Fa {{ days_passed }} dies</p>
        {% if online_nav == true and not_liked == true %}
            <p>Visites: {{ visits }} - Likes: {{ likes }} - <a href="/{{ id }}/like">Like</a></p>
        {% else %}
            <p>Visites: {{ visits }} - Likes: {{ likes }}</p>
        {% endif %}
        <h2>Comentaris:</h2>
        {% if comments is empty %}
            <h3>No hi ha comentaris en aquest post</h3>
        {% else %}
            <ul>
                {% for item in comments %}
                    <li><a href="/user/profile/public/{{ item.commenter }}">{{ item.commenter }}</a>: {{ item.content }}</li>
                {% endfor %}
            </ul>

        {% endif %}
        {% if online_nav == true and not_commented == true %}
            <textarea form="comment_form" name="new_comment"></textarea>
            <form id="comment_form" METHOD="post">

                <input type="submit" name="submit" value="Comenta">
            </form>

        {% endif %}
    </div>
{% endblock %}