{% extends "base.twig" %}

{% block title %}PWGRAM 08 - Llista d'imatges{% endblock %}


{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="main-body">

        <h1>Les teves imatges</h1>
        <div>
            {% if images is empty %}
                <h2>Encara no has pujat cap imatge</h2>
            {% else %}
                <ul>
                {% for image in images %}
                    <li>
                        <p><img src="{{ asset( image.img_path, 'images') }}" width="200" height="150">    <a href="/image/{{ image.id }}">{{ image.title }}</a> - <a href="/image/edit/{{ image.id }}"><span class="glyphicon glyphicon-edit"></span>Edita</a> - <a href="/user/image-list/delete/{{ image.id }}"><span class="glyphicon glyphicon-erase"></span>Elimina</a></p>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}