{% extends "base.twig" %}

{% block title %}PWGRAM 08 - Edició de {{ real_username }}{% endblock %}
{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="main-body">

        <div id="user-profile">
            <img src="{{ asset(real_profilepic, 'images') }}" width="200" height="auto">
            <div id="user-info">
                <p id="username" class="username"><h1><a href="/user/profile/public/{{ real_username }}">{{ real_username }}</a></h1></p>
                <p id="email">{{ real_email }}</p>
                <p id="birthday">{{ real_birthday }}</p>
            </div>
        </div>

        <h2>Modifica les teves dades</h2>
        <form enctype="multipart/form-data" method="POST">
            <ul>
                <li>
                    <label>Nom</label>
                    <input type="text" name="name" value = "{{ new_username }}">

                </li>
                <li>
                    <label>Email</label>
                    <input type="text" name="email" value="{{ new_email }}">
                </li>
                <li>
                    <label>Data de naixament</label>
                    <input type="date" name="birthday" value="{{ new_birthday }}">
                </li>
                <li>
                    <label>Antiga contrasenya</label>
                    <input type="password" name="old_pass" value="">
                </li>
                <li>
                    <label>Nova contrasenya</label>
                    <input type="password" name="new_pass" value="">
                </li>
                <li>
                    <label>Repeteix la nova contrasenya</label>
                    <input type="password" name="new_pass_again" value="">
                </li>
                <li>
                    <label for="file">Nova imatge de perfil</label>
                    <input type="file" name="file" id="file">
                </li>
                <li>
                    <label>ELimina la foto de perfil actual (només funciona si no es puja un nou arxiu)</label>
                    <input type="checkbox" name="delete" value="false">
                </li>
                <li>
                    <input type="submit" name="submit" value="Modificar">
                </li>
            </ul>
        </form>
        <div>{{ message | raw}}</div>

    </div>
{% endblock %}