{% extends "base.twig" %}

{% block title %}PWGRAM 08 - {{ username }}{% endblock %}
{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="main-body">

        <div id="user-profile">
            <img src="{{ asset( profile_image, 'images') }}" width="200" height="auto">
            <div id="user-info">
                <p id="username" class="username"><h1>{{ username }}</h1></p>
                <p>Posts: {{ post_num }}</p>
                <p>Comentaris: {{ comment_num }}</p>
            </div>
        </div>
        <div>
            <h2>Llista d'imatges pujades per {{ username }}</h2>
            {% if list is empty %}
                <h3>Aquest usuari no ha pujat cap imatge</h3>
            {% else %}
                <ul>
                    {% for image in list %}
                        <div>
                            <img src="{{ asset( image.img_path, 'images') }}" width="200" height="auto">
                            <h4><a href="/image/{{ image.id }}">{{ image.title }}</a></h4>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </div>
{% endblock %}