{% extends "base.twig" %}

{% block title %}Register page{% endblock %}
{% block navigation %}

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>

{% endblock %}
{% block content %}
    <div id="main-body">

        <h1>Registra't</h1>
        <form enctype="multipart/form-data" method="POST">
            <ul>
                <li>
                    <label>Nom</label>
                    <input type="text" name="name" value = "{{ username }}">

                </li>
                <li>
                    <label>Email</label>
                    <input type="text" name="email" value="{{ email }}">
                </li>
                <li>
                    <label>Data de naixament</label>
                    <input type="date" name="dataNaixament" value="{{ birthdate }}">
                </li>
                <li>
                    <label>Contrasenya</label>
                    <input type="password" name="password" value="">
                </li>
                <li>
                    <label>Repeteix la contrasenya</label>
                    <input type="password" name="password-repeated" value="">
                </li>
                <li>
                    <label for="file">Imatge de perfil</label>
                    <input type="file" name="file" id="file">
                </li>
                <li>
                    <input type="submit" name="submit" value="Registrar">
                </li>
            </ul>
        </form>
        <div>{{ message | raw}}</div>

    </div>
{% endblock %}