{% extends "base.twig" %}

{% block title %}PWGRAM 08 - Pujar una nova imatge{% endblock %}


{% block navigation %}
    {% if online_nav==true %}
        <ul class='nav navbar-nav navbar-right'>
            <li class='notification-button'><a href='/user/notifications'><span class='glyphicon glyphicon-bell'></span></a></li>
            <li><a href='/user/comments'><span class='glyphicon glyphicon-comment'></span>Llista de comentaris</a></li>
            <li><a href='/user/upload'><span class='glyphicon glyphicon-upload'></span>Puja una imatge</a></li>
            <li><a href='/user/image-list'><span class='glyphicon glyphicon-list'></span>Llista</a></li>
            <li><a href='/user/profile/private/{{ session_username }}'><span class='glyphicon glyphicon-user'></span>{{ session_username }}</a></li>
            <li><a href='/user/logout'><span class='glyphicon glyphyicon-log-out'></span>Surt</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Registra't</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="main-body">

        <h1>Afegeix una imatge</h1>
        <form enctype="multipart/form-data" method="POST">
            <ul>
                <li>
                    <label for="file">Imatge a pujar</label>
                    <input type="file" name="file" id="file">
                </li>
                <li>
                    <label>Títol</label>
                    <input type="text" name="title" value = "{{ title }}">

                </li>
                <li>
                    <label>Imatge privada</label>
                    <input type="checkbox" name="private" value="false">
                </li>

                <li>
                    <input type="submit" name="submit" value="Afegir">
                </li>
            </ul>
        </form>
        <div>{{ message | raw}}</div>

    </div>
{% endblock %}